extends layout

block content
  h1= title
  p Welcome to #{title}
  p Varför /test sidan funkar inte!!
  
  p /test/test fungerar som du har gjort!
  p min pull request gör så att /test fungerar. Du kan jämföra.
